<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
    integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
    crossorigin="anonymous"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <style>
    /* chat-css */
    .my-msg {
      float: left;
    }

    .dropdown-toggle {
      outline: 0;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .dropdown-menu.show {
      transform: translate(-100px, 20px);
    }
  </style>
</head>


<body class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fs-5">
    <div class="container-fluid fs-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <img class="rounded-circle m-auto center me-3 ms-1" src="/static/image/brand.gif" alt="" width="55" height="55" />
      <a class="navbar-brand fs-2 fw-bold" href="/">Ovensea</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

        <input class="form-control container-sm w-50 mx-auto bg-dark text-white fs-5 fw-bold" type="search"
          placeholder="Search" aria-label="Search"></input>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0 fs-5 fw-bold d-none d-lg-flex">
        <li class="nav-item ms-4">
          <a class="nav-link active " aria-current="page" href="/">메인페이지</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link " href="/gallery">갤러리</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" href="/auction">경매</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" href="/chat">채팅</a>
        </li>
        <li class="nav-item <%=isLogin &&'visually-hidden'%>" id="loginDiv">
          <a href="/loginPage" class="btn btn-outline-light ms-4 mt-1 fs-6 fw-bold" id="login_btn">로그인</a>
        </li>
        <li class="nav-item <%=isLogin &&'visually-hidden'%>" id="loginDiv">
          <a href="/signup" class="btn btn-outline-light ms-4 mt-1 fs-6 fw-bold" id="login_btn">회원가임</a>
        </li>
      </ul>
      <div class="dropdown text-end ms-4 me-1 float-end <%= !isLogin &&'visually-hidden'%>" id="userDiv">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="<%=user.img_url%>" id="my_imgUrl" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="transition: 1s all ease-in-out;">
          <li><a class="dropdown-item" href="/profile">내정보</a></li>
          <li><a class="dropdown-item" href="/collection">내컬랙션</a></li>
          <li><a class="dropdown-item" href="/editNft">NFT발행하기</a></li>
          <li><a class="dropdown-item" href="/chat">채팅창</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="container-fluid pb-3 ">
      <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr; height: 90%; max-height:90%;">
        <!-- Users box-->
        <div class="px-0 bg-dark">
          <div class="bg-dark">
            <div class="bg-gray py-2 bg-dark">
              <p class="h5 mb-0 py-1 text-white">채팅방</p>
            </div>

            <div class="messages-box">
              <div id="userBox" class="list-group rounded-0">

              </div>
            </div>
          </div>
        </div>
        <!-- Chat Box start-->
        <div class="bg-dark">
          <div id="chatBox" class="py-5 chat-box bg-dark d-flex flex-column" style="overflow-y: scroll; height: 85vh;">
            <h1 id="noRooms" class="text-white m-auto">채팅방을 선택해주세요.</h1>
          </div>

          <!-- Chat Box end-->

          <!-- Typing area -->
          <div id="chat_input" class="input-group visually-hidden">
            <input id="send_text" type="text" placeholder="내용을 입력해주때요" aria-describedby="button-addon2"
              class="form-control rounded-0 border-0 py-4 bg-dark text-white" />
            <div class="input-group-append align-self-center">
              <button id="sendMsg_btn" type="submit" class="btn btn-link text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                  class="bi bi-send me-2" viewBox="0 0 16 16">
                  <path
                    d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
                </svg>
                보내버리기
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
</body>
<script src="static/util/client_createRandom.js"></script>
<script src="static/util/axios_util.js"></script>
<script src="static/util/auth.js"></script>
<script src="static/model/dbManager.js"></script>
<script src="static/socket/client.js"></script>
<script src="static/view/chat.js"></script>

</html>