<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
    integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
    crossorigin="anonymous"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <style>
    /* chat-css */
    .my-msg {
      float: left;
    }

    .dropdown-toggle {
      outline: 0;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .dropdown-menu.show {
      transform: translate(-100px, 20px);
    }
  </style>


  <link href="static/view/carousel.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fs-5">
    <div class="container-fluid fs-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <img class="rounded-circle m-auto center me-3 ms-1" src="/static/image/brand.gif" alt="" width="55" height="55" />
      <a class="navbar-brand fs-2 fw-bold" href="/">Ovensea</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

        <input class="form-control container-sm w-50 mx-auto bg-dark text-white fs-5 fw-bold" type="search"
          placeholder="Search" aria-label="Search"></input>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0 fs-5 fw-bold d-none d-lg-flex">
        <li class="nav-item ms-4">
          <a class="nav-link active " aria-current="page" href="/">메인페이지</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link " href="/gallery">갤러리</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" href="/auction">경매</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" href="/chat">채팅</a>
        </li>
        <li class="nav-item <%=isLogin &&'visually-hidden'%>" id="loginDiv">
          <a href="/loginPage" class="btn btn-outline-light ms-4 mt-1 fs-6 fw-bold" id="login_btn">로그인</a>
        </li>
        <li class="nav-item <%=isLogin &&'visually-hidden'%>" id="loginDiv">
          <a href="/signup" class="btn btn-outline-light ms-4 mt-1 fs-6 fw-bold" id="login_btn">회원가임</a>
        </li>
      </ul>
      <div class="dropdown text-end ms-4 me-1 float-end <%= !isLogin &&'visually-hidden'%>" id="userDiv">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="<%=user.img_url%>" id="my_imgUrl" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="transition: 1s all ease-in-out;">
          <li><a class="dropdown-item" href="/profile">내정보</a></li>
          <li><a class="dropdown-item" href="/collection">내컬랙션</a></li>
          <li><a class="dropdown-item" href="/editNft">NFT발행하기</a></li>
          <li><a class="dropdown-item" href="/chat">채팅창</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <!-- 슬라이드영역 시작 -->
    <section class="py-5 text-center container">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators" id="bannerIndicators">
        </div>
        <div class="carousel-inner" id="banner">
          <!-- 배너 1페이지 시작 -->

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!-- 슬라이드영역 끝 -->

    <!-- 갤러리 영역 시작 -->
    <div class="album py-5 ">
      <div class="container">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3  row-cols-xl-4 g-3" id="nftContainer">
          <!-- 셀 시작 -->

          <!-- 셀 끝 -->

        </div>
      </div>
    </div>

    <!-- 갤러리 영역 끝 -->



  </div>
</body>
<script src="static/util/client_createRandom.js"></script>
<script src="static/socket/client.js"></script>
<script src="static/util/chat.js"></script>
<script src="static/util/auth.js"></script>
<script src="static/util/axios_util.js"></script>
<script src="static/view/index.js"></script>
<script src="static/util/event.js"></script>

</html>